*\venv*

*.ipynb_checkpoints
secrets.env
old.env

__pycache__/

*.pyc
*.egg-info/

**/soccerdata/data/*
**/soccerdata/logs/*
**/logs/*

k8s/manifests/secrets/
k8s/helm-deploy/secrets/
k8s/helm-deploy-contabo/secrets/

.pid
.vscode/

mlruns/

db/database_backup.sql
