*\venv*

*.ipynb_checkpoints
.env.secrets

__pycache__/

*.pyc
*.egg-info/

**/soccerdata/data/*
**/soccerdata/logs/*
**/logs/*

k8s/manifests/secrets/
k8s/helm-deploy/secrets/
k8s/helm-deploy-contabo/secrets/

.pid
.vscode/

mlruns/

db/database_backup.sql
db/*.dump
db/*.dbml
db/*.sql

assets/logos/*

.portforward_pid
.DS_Store
